---
Checks:              '-*,performance-*,cppcoreguidelines-*,bugprone-*,misc-*,modernize-*,readability-*'
WarningsAsErrors:    'cert-*,hicpp-*'
HeaderFilterRegex:   ''
FormatStyle:         file
InheritParentConfig: true
