---
# do while is present in catch macro
Checks:              'hicpp-*,cppcoreguidelines-*,-cppcoreguidelines-avoid-do-while'
WarningsAsErrors:    'hicpp-*,cppcoreguidelines-*,-cppcoreguidelines-avoid-do-while'
HeaderFilterRegex:   ''
FormatStyle:         file
InheritParentConfig: true
