---
Checks:              '-*,cppcoreguidelines-*'
#  ,performance-*,cppcoreguidelines-*,bugprone-*,misc-*,modernize-*,readability-*,cert-*'
WarningsAsErrors:    'hicpp-*'
HeaderFilterRegex:   ''
FormatStyle:         file
InheritParentConfig: true
